<a href="https://colab.research.google.com/github/Taniriya/lab1-algorithms/blob/main/lab1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **Лабораторная работа №1: Практические задания**

**Тема: "Выживший детектив: первое погружение в анализ данных с Python и Pandas"**

**Цель:** Используя данные о пассажирах "Титаника", провести расследование: очистить "улики", найти скрытые закономерности и ответить на вопросы о факторах, повлиявших на выживание.

#### **Часть 1: Загрузка улик и первый осмотр**

Эти задачи обязательны для всех. Они познакомят вас с базовым синтаксисом и основными командами для "осмотра" данных.

*   **Задание 1.1:** Импортируйте библиотеку `pandas` под общепринятым псевдонимом `pd`.
*   **Задание 1.2:** Прочитайте файл `titanic.csv` в DataFrame с именем `df`.
*   **Задание 1.3:** Проведите первичный осмотр данных:
    *   Выведите на экран первые 7 строк таблицы с помощью метода `.head()`.
    *   Используйте метод `.info()` для получения технической сводки о данных. **Запишите в комментарии к коду ответ: в каких столбцах есть пропущенные значения?**
    *   Используйте метод `.describe()` для получения статистической сводки. **Запишите в комментарии: какой был средний возраст пассажиров и максимальная цена за билет (`Fare`)?**

In [3]:
# Часть 1
import pandas as pd


# Читаем файл titanic.csv
df = pd.read_csv('https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv')

# Выводим первые 7 строк таблицы
print(df.head(7))
# Выводим информацию о таблице
print(df.info())
# В столбцах Age (177), Cabin (687), Embarked (2) есть пропущенные значения (кол-во пропущенных значений)

# Получаем статистическую сводку
print(df.describe())
# Cредний (mean) возраст пассажиров (Age) - 29.699118
# Максимальная (max) цена за билет (Fare) - 512.329200

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3
5            6         0       3
6            7         0       1

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0
5                                   Moran, Mr. James    male   NaN      0
6                            McCarthy, Mr. Timothy J    male  54.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S
5      0            330877   8.4583   NaN        Q
6      0             17463  51.8625   E46        S
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
None
       PassengerId    Survived      Pclass         Age       SibSp  \
count   891.000000  891.000000  891.000000  714.000000  891.000000
mean    446.000000    0.383838    2.308642   29.699118    0.523008
std     257.353842    0.486592    0.836071   14.526497    1.102743
min       1.000000    0.000000    1.000000    0.420000    0.000000
25%     223.500000    0.000000    2.000000   20.125000    0.000000
50%     446.000000    0.000000    3.000000   28.000000    0.000000
75%     668.500000    1.000000    3.000000   38.000000    1.000000
max     891.000000    1.000000    3.000000   80.000000    8.000000

            Parch        Fare
count  891.000000  891.000000
mean     0.381594   32.204208
std      0.806057   49.693429
min      0.000000    0.000000
25%      0.000000    7.910400
50%      0.000000   14.454200
75%      0.000000   31.000000
max      6.000000  512.329200

#### **Часть 2: Очистка данных и подготовка к анализу (Инженерия признаков)**

На этом этапе мы приведем "улики" в порядок. Здесь начинается настоящая детективная работа.

*   **Задание 2.1 (Обязательно для всех): Заполнение пропусков простым методом.**
    *   В столбце `Age` есть пропуски. Самый быстрый способ их закрыть — использовать общее для всех значение.
    *   **Задача:** Посчитайте **медианный** возраст всех пассажиров и заполните им все пропущенные значения в столбце `Age`.
    *   **Проверка:** Убедитесь, что в столбце `Age` больше нет пропусков, снова вызвав `.info()`.

*   **Задание 2.2 (Обязательно для всех): Написание собственного алгоритма категоризации.**
    *   Числовой возраст не всегда удобен для анализа. Гораздо показательнее анализировать выживаемость по возрастным группам.
    *   **Задача:**
        1.  **Напишите на Python функцию `get_age_group(age)` с использованием `def`.**
            *   Эта функция должна принимать на вход возраст (`age`).
            *   Алгоритм внутри функции: если возраст меньше 18, функция должна возвращать строку "Ребенок"; если возраст от 18 до 65 (включительно) — "Взрослый"; если старше 65 — "Пожилой".
        2.  Создайте в DataFrame новый столбец `AgeGroup`.
        3.  Примените вашу функцию `get_age_group` ко всему столбцу `Age` с помощью метода `.apply()` и сохраните результат в столбец `AgeGroup`.
    *   **Проверка:** Выведите первые 5 строк и убедитесь, что новый столбец появился и заполнен корректно.

*   **Задание 2.3 (Задание со звездочкой \* для продвинутых): Контекстное заполнение пропусков.**
    *   *Это задание выполняется ВМЕСТО задания 2.1. Если вы его делаете, не выполняйте простое заполнение медианой.*
    *   **Гипотеза:** Возраст людей сильно зависит от их социального статуса. Давайте заполним пропуски в возрасте не общей медианой, а более релевантным значением.
    *   **Задача:** Заполнить пропущенные значения в `Age` медианным возрастом, рассчитанным для каждой группы отдельно в зависимости от **пола** (`Sex`) и **класса каюты** (`Pclass`).
    *   **Подсказка:** Вам может понадобиться комбинация методов `.groupby()` и `.transform()`. Это сложная, но очень мощная техника!

In [4]:
'''
# Часть 2.1
# Находим медианный возраст пассажиров
median_age = df['Age'].median()
# Заполняем пустые ячейки
df['Age'] = df['Age'].fillna(median_age)
# Проверяем, что в столбце Age больше нет пропусков
print(df.info())
'''
# Часть 2.3
# Создаем таблицу, где пол и класс сгруппированны по возрасту
grouped_mean_age = df.groupby(['Sex', 'Pclass'])['Age']
# С помощью transform заполняем пустые ячейки в основной таблице
df['Age'] = df['Age'].fillna(grouped_mean_age.transform('median'))

# Часть 2.2
# Функция, сортирующая людей на три возрастные группы
def get_age_group(age):
  if age < 18:
    return "Ребёнок"
  elif age > 65:
    return "Пожилой"
  else:
    return "Взрослый"
# Создание нового столбца AgeGroup
df['AgeGroup'] = df['Age'].apply(get_age_group)
# Проверяем
print(df.head())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked  AgeGroup
0      0         A/5 21171   7.2500   NaN        S  Взрослый
1      0          PC 17599  71.2833   C85        C  Взрослый
2      0  STON/O2. 3101282   7.9250   NaN        S  Взрослый
3      0            113803  53.1000  C123        S  Взрослый
4      0            373450   8.0500   NaN        S  Взрослый

#### **Часть 3: Поиск закономерностей и ответов на вопросы**

Теперь, когда данные чисты, мы можем начать "допрос" — задавать данным вопросы и получать ответы.

*   **Задание 3.1 (Обязательно для всех): Анализ выживаемости по полу и классу.**
    *   Используя алгоритм **Split-Apply-Combine** (метод `.groupby()`), найдите ответы на вопросы:
        1.  Какой процент мужчин и женщин выжил?
        2.  Какой процент пассажиров выжил в каждом из трех классов (`Pclass`)?
        3.  Создайте сводную таблицу, показывающую процент выживших в зависимости **одновременно** от пола и класса каюты.

*   **Задание 3.2 (Обязательно для всех): Фильтрация и сортировка.**
    *   Используя фильтрацию и сортировку, найдите:
        1.  Имена (столбец `Name`) всех несовершеннолетних (младше 18 лет) пассажиров, которые путешествовали в 3-м классе и выжили. Отсортируйте результат по возрасту в порядке убывания.
        2.  Самого пожилого мужчину на борту, который не выжил.

*   **Задание 3.3 (Задание со звездочкой \* для продвинутых): Анализ влияния размера семьи.**
    *   **Гипотеза:** Путешествующие в одиночку имели другие шансы на выживание, чем семейные пассажиры.
    *   **Задача:**
        1.  Создайте новый столбец `FamilySize`, который будет равен сумме значений в столбцах `SibSp` (братья/сестры/супруги) и `Parch` (родители/дети) плюс 1 (сам пассажир).
        2.  Создайте еще один столбец `IsAlone` (Одинок). Если `FamilySize` равен 1, значение в этом столбце должно быть 1, иначе — 0.
        3.  Используя `.groupby()`, сравните процент выживших среди одиноких пассажиров и тех, кто путешествовал с семьей. Сделайте вывод.

In [11]:
# Часть 3.1
# Находим проценты выживших по полу
print(df.groupby('Sex')['Survived'].mean())
# И по классу
print(df.groupby('Pclass')['Survived'].mean())
# Сводная таблица столбцы - пол, строки - класс
survivors = df.pivot_table(index='Pclass', columns='Sex', values='Survived', aggfunc='mean')
print(survivors)

# Часть 3.2
# Создаём таблицу с детьми в 3 классе
kids = df[(df['AgeGroup'] == 'Ребёнок') & (df['Pclass'] == 3)]
print(kids.sort_values(by = ['Age'], ascending=False)[['Name', 'Age']])
# Находим самого старого мужчину, который не выжил
old_men = df[(df['Sex'] == 'male') & (df['Survived'] == 0)]
print(old_men[(old_men['Age'] == max(old_men['Age']))])

# Часть 3.3
# Добавляем столбец FamilySize с помощью assign (добавляет новый столбец)
df = df.assign(FamilySize = df['SibSp'] + df['Parch'] + 1)
# Функция, сортирующая людей на одиночек и семейных людей
def is_alone(family_size):
  if family_size == 1:
    return 1
  else:
    return 0
# Создание нового столбца IsAlone
df['IsAlone'] = df['FamilySize'].apply(is_alone)
# Находим проценты выживших по путешествию в одиночку или с семьёй
print(df.groupby('IsAlone')['Survived'].mean())
# Вывод одинокое люди выживали примерно на 20% меньше, чем люди с семьёй

Sex
female    0.742038
male      0.188908
Name: Survived, dtype: float64
Pclass
1    0.629630
2    0.472826
3    0.242363
Name: Survived, dtype: float64
Sex       female      male
Pclass
1       0.968085  0.368852
2       0.921053  0.157407
3       0.500000  0.135447
                                Name    Age
68   Andersson, Miss. Erna Alexandra  17.00
844              Culumovic, Mr. Jeso  17.00
532             Elias, Mr. Joseph Jr  17.00
433       Kallio, Mr. Nikolai Erland  17.00
163                  Calic, Mr. Jovo  17.00
..                               ...    ...
172     Johnson, Miss. Eleanor Ileen   1.00
788       Dean, Master. Bertram Vere   1.00
469    Baclini, Miss. Helene Barbara   0.75
644           Baclini, Miss. Eugenie   0.75
803  Thomas, Master. Assad Alexander   0.42

[78 rows x 2 columns]
     PassengerId  Survived  Pclass                 Name   Sex   Age  SibSp  \
851          852         0       3  Svensson, Mr. Johan  male  74.0      0

     Parch  Ticket   Fare Cabin Embarked AgeGroup  FamilySize  IsAlone
851      0  347060  7.775   NaN        S  Пожилой           1        1
IsAlone
0    0.505650
1    0.303538
Name: Survived, dtype: float64

#### **Часть 4: Формулировка выводов**

В конце каждого расследования детектив составляет отчет. Основываясь на полученных в Части 3 результатах, письменно ответьте на следующие вопросы (в виде комментариев в коде или в отдельной ячейке Markdown, если вы работаете в Jupyter Notebook).

1.  Какой фактор — пол или класс каюты — оказывал большее влияние на выживаемость? Приведите цифры из вашего анализа.
2.  Подтверждает ли ваш анализ знаменитое правило "женщины и дети в первую очередь"? Ответ подкрепите данными по выживаемости в разных возрастных группах (`AgeGroup`) и по полу.

In [7]:
# Часть 4.1
print(survivors)
'''
Sex       female      male
Pclass
1       0.968085  0.368852
2       0.921053  0.157407
3       0.500000  0.135447
'''
# Пол оказывал большее влияние на выживаемость
# Женщины третьего класса имели 50% выживаемость
# Мужчины даже первого класса выживали с вероятностью 36.9%
# Мужчины классом ниже имели ещё более низкую выживаемость
print()

Sex       female      male
Pclass
1       0.968085  0.368852
2       0.921053  0.157407
3       0.500000  0.135447

In [ ]:
# Часть 4.2
new_survivors = df.pivot_table(index='AgeGroup', columns='Sex', values='Survived', aggfunc='mean')
print(new_survivors)
'''
Sex         female      male
AgeGroup
Взрослый  0.752896  0.166341
Пожилой        NaN  0.125000
Ребёнок   0.690909  0.396552
'''
# Анализ подтверждает знаменитое правило "женщины и дети в первую очередь"
# Дети и взрослые женщины выживают с большей вероятностью, чем взрослые и пожилые мужчины
# Пожилых женщин в датабазе/на титанике не было
# Так что они 100% выжили, незабравшись на титаник :)
print()

Sex         female      male
AgeGroup
Взрослый  0.752896  0.166341
Пожилой        NaN  0.125000
Ребёнок   0.690909  0.396552

### **Часть 5: Контрольные вопросы для самопроверки**

Вы провели большое расследование! Теперь, как настоящему детективу, вам нужно доказать, что вы не просто следовали инструкциям, а действительно поняли суть дела. Ответьте на эти вопросы, чтобы проверить глубину вашего понимания.

#### **Блок 1: Основы Pandas и синтаксис**

1.  Что такое `DataFrame` и что такое `Series` в библиотеке Pandas? Приведите пример `Series` из нашего датасета "Титаника".
2.  В чем разница между методами `.info()` и `.describe()`? Какую информацию о пропущенных значениях дает каждый из них?
3.  Как выбрать несколько конкретных столбцов из DataFrame? Напишите пример кода, который выбрал бы только столбцы `Name`, `Age` и `Survived`.
4.  Объясните синтаксис фильтрации на примере: `df[df['Pclass'] == 3]`. Что здесь является логическим условием, а что — операцией выбора строк?

#### **Блок 2: Алгоритмы и обработка данных**

5.  **Ключевой вопрос:** Почему при заполнении пропусков в возрасте (`Age`) использование **медианы** часто предпочтительнее **среднего арифметического**? Какой недостаток есть у среднего значения?
6.  Объясните по шагам логику вашего собственного алгоритма — функции `get_age_group(age)`. Почему создание таких категорий (`Ребенок`, `Взрослый`) может быть полезнее для анализа, чем использование точного возраста?
7.  В чем заключается фундаментальный принцип работы алгоритма **"Split-Apply-Combine"**, который реализуется через метод `.groupby()`? Опишите каждый из трех шагов своими словами.
8.  **Вопрос для продвинутых (кто делал задание 2.3*):** Объясните, почему контекстное заполнение пропусков (на основе пола и класса) дает более точный и обоснованный результат, чем заполнение общей медианой по всей таблице?
9.  **Вопрос для продвинутых (кто делал задание 3.3*):** Зачем при создании столбца `FamilySize` мы прибавляли `1` к сумме `SibSp` и `Parch`? Что бы мы анализировали, если бы забыли это сделать?

#### **Блок 3: Интерпретация результатов и выводы**

10. Основываясь на ваших данных, кто имел больше шансов выжить: 5-летняя девочка из 3-го класса или 40-летний мужчина из 1-го класса? Подкрепите свой ответ цифрами, полученными с помощью `.groupby()`.
11. Ваш анализ показал, что пассажиры 1-го класса выживали чаще, чем пассажиры 3-го. Можно ли на основании **только этих данных** сделать однозначный вывод, что это произошло из-за их высокого социального статуса? Какие еще скрытые факторы могли на это повлиять? (Подсказка: подумайте о расположении кают).
12. Мы видим сильную связь (корреляцию) между полом и выживаемостью. Означает ли это, что пол был прямой **причиной** выживания? Объясните разницу между корреляцией и причинно-следственной связью в контексте нашего исследования.
13. Какой самый неожиданный или интересный вывод вы сделали для себя в ходе этой лабораторной работы?
14. Если бы вам нужно было построить простую модель, предсказывающую выживаемость, какие два столбца (признака) из всего датасета вы бы выбрали как самые важные? Почему?
15. Мы удалили столбец `Cabin` из-за большого количества пропусков. Как вы думаете, какую ценную информацию он мог бы содержать, если бы был полностью заполнен?

In [10]:
df_name_age_survived = df[['Age', 'Name', 'Survived']]
df_name_age_survived

      Age                                               Name  Survived
0    22.0                            Braund, Mr. Owen Harris         0
1    38.0  Cumings, Mrs. John Bradley (Florence Briggs Th...         1
2    26.0                             Heikkinen, Miss. Laina         1
3    35.0       Futrelle, Mrs. Jacques Heath (Lily May Peel)         1
4    35.0                           Allen, Mr. William Henry         0
..    ...                                                ...       ...
886  27.0                              Montvila, Rev. Juozas         0
887  19.0                       Graham, Miss. Margaret Edith         1
888  21.5           Johnston, Miss. Catherine Helen "Carrie"         0
889  26.0                              Behr, Mr. Karl Howell         1
890  32.0                                Dooley, Mr. Patrick         0

[891 rows x 3 columns]